<h1>New activity_sector_translation <%= @activity_sector.identifier %></h1>


<% form_for [@activity_sector, @activity_sector_translation] do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </p>
  <p>
    <%= f.label :description %><br />
    <%= f.text_field :description %>
  </p>
  <p>
    <%= f.label :local %><br />
    <%= f.select :local, lang_options_for_select(false), :selected=> current_language.to_s %>
  </p>
  <p>
    <%= f.submit "Create" %>
  </p>
<% end %>

