<h1><%= l(:label_secteur_new) %></h1>

  <%= f.error_messages %>

  <p>
    <%= f.label :identifier %><br />
    <%= f.text_field :identifier %>
  </p>

  <p><%= f.label :local %><br /> <%= f.select :local, lang_options_for_select(false), :selected=> current_language.to_s %></p>
  <p><%= f.label :name %><br /> <%= f.text_field :name %></p>
  <p><%= f.label :description %><br /> <%= f.text_field :description %></p>

  <p class="buttons right">
    <%= f.submit l(:button_create),:class=>"button btn_blue corner-all" %>
  </p>
  <div class="clearer"></div>
